.root {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.header {
    margin-bottom: 16px;
}

.nav_wrapper {
    display: flex;
    gap: 12px;
    /* opacity: 0; */
    align-items: center;
    justify-content: space-between;
    /* animation: navFade 1s ease forwards; */
    transition: all 0.3s ease;
}

.nav_content{
    display: flex;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    animation: pulse 1.5s ease infinite;
}

.nav_content:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(47, 91, 255, 0.35);
    }
    70% {
        transform: scale(1.03);
        box-shadow: 0 0 0 12px rgba(47, 91, 255, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(47, 91, 255, 0);
    }
}

.nav {
    display: flex;
    gap: 12px;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: end;
    width: 100%;
    background: var(--bg);
    padding: 16px 2px;
    border-bottom: 1px solid var(--border);
    z-index: 100;
    max-width: 1200px;
    margin: 0 auto;

    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;

    justify-content: space-between;;
}

.navHidden {
    opacity: 0;
    transform: translateY(-16px);
    pointer-events: none;
}

.navItemWrapper button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-decoration: none;
}

.link {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
    transition: all 1s ease;
}

.link:hover {
    opacity: 1;
    color: var(--blue);
}

.linkActive {
    text-decoration: none;
    color: inherit;
    opacity: 1;
    color: var(--blue);
    font-weight: 600;
}

.main {
    padding-top: 8px;
    height: 100%;
    padding-bottom: 8px;
}